
*, ::before, ::after {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

p {
    margin-bottom: 1.25rem;
}

span {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f00;
}

li {
    line-height: 1.7;
}

ul {
    margin-bottom: 1.25rem;
}

/* Nav top */

.nav--top {
    position: fixed;
    top: 0;
    left: 0;
    background: #1858ad;
    width: 100vw;
    height: 4rem;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
}

.nav__img {
    height: 100%;
    width: auto;
}

.nav__icon {
    height: 100%;
    width: auto;
    image-rendering: pixelated;
}

.title {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    padding: 0 1rem;
}

/* Nav left */

.nav--left {
    position: fixed;
    top: 4rem;
    text-align: left;
    width: 250px;
    height: calc(100vh - 4rem);
    border-right: 1px solid #0000001a;
}

.nav__title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
}

.nav__items {
    margin-bottom: 0;
    padding: 0;
    overflow-y: scroll;
    height: 80%;
}

.nav__item {
    list-style: none;
    font-size: 18px;
    padding: 0.50rem 1.5rem;
    line-height: 0;
    border-top: 1px solid #0000001a;
}

/* To top icon */

.top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 45px;
    height: 45px;
}

.top__icon {
    filter: invert(0%) sepia(9%) saturate(9%) hue-rotate(318deg) brightness(100%) contrast(77%);
    width: 100%;
    height: auto;
}

.top__icon:hover {
    filter: invert(18%) sepia(98%) saturate(2273%) hue-rotate(305deg) brightness(98%) contrast(99%);
}

 /* Main content */
main {
    padding-top: 1rem;
    padding-bottom: 4rem;
}

section {
    margin: 0 250px 0 300px;
}

/* Captions */

.caption {
    font-size: 30px;
    font-weight: 700;
    padding-top: 4rem;
    margin-bottom: 1rem;
    text-align: left;
}

.sub-caption {
    line-height: 2;
}

/* Tables */

.data-types__table,
.if-statement__table {
    overflow: auto;
}

.data-types__items,
.if-statement__items {
    display: flex;
    margin: 0 1.25rem;
    padding: 0 1rem;
}

.data-types__item,
.if-statement__item {
    min-width: 200px;
}

/* Italic pragraph */

.list__paragraph--italic,
.tuple__paragraph--italic {
    font-style: italic;
    font-weight: 500;
}

/* Code color */

.highlight {
    background: #f5f6fa;
    margin: 1rem 1.25rem;
    padding: 1rem;
    width: 95%;
}

.chroma {
    overflow: auto;
}

.p{
    color: #040505;
}

.f {
    color: #1858ad;
}

.s, .q {
    color: #ad1858;
}

.k, .o {
    color: #c82c32;
}

.n {
    color: #58ad18;
}

.co {
    color: #3b3b3b;
}

.op {
    color: #16344a;
}

.highlight--terminal {
    background: #000;
}

.t {
    color: #fff;
}

.highlight--border-red {
    border: 2px solid #c82c32;
}
.data-types__item--blue,
.if-statement__item--blue {
    color: #1858ad;
}

/* Last paragraph of sections */

.last {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Responsive design */

@media screen and (max-width: 1200px) {
    section {
        margin: 0 0 0 300px;
    }

    p,
    li {
        width: 82%;
    }

    .highlight {
        width: 85%;
    }

    .top {
        bottom: 60px;
    }
}

@media screen and (max-width: 990px) {
    p, li {
        width: 90%;
    }

    .nav--left {
    width: 200px;
    }

    section {
        margin: 0 1rem 0 230px;
    }

    .highlight {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .nav--top {
        position: relative;
        height: 5rem;
    }

    .nav--left {
        position: relative;
        top: 0;
        text-align: center;
        width: 100vw;
        height: 100vh;
    }

    .nav__title {
        font-size: 25px;
        padding: 0.625rem 0;
    }

    .nav__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav__item {
        font-size: 18px;
        padding: 0.40rem 0;
        margin: 0 1.5rem;
    }

    .nav__item--br-bottom {
        border-bottom: 1px solid #0000001a;
    }

    main {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    section {
        margin: 0 1.5rem 0 1.5rem;
    }

    .caption {
        padding-top: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        width: 100%;
    }

    .highlight {
        width: 94%;
    }

    .chroma {
        padding: 0.6rem 0;
    }
}

@media screen and (max-width: 500px) {
    .nav--top {
        padding: 1rem 0.3125rem;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .top {
        right: 10px;
    }

    .title {
        font-size: 25px;
        padding: 1rem;
    }

    .highlight {
        width: 100%;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 391px) {
    section {
        margin: 0 1rem 0 1rem;
    }

    .title {
        padding: 0.3125rem;
    }
}